<a href="https://colab.research.google.com/github/Nikitamuddapati/Home-credit-default-risk/blob/main/IS_6493_Exam1_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam One Review

This workbook is intended as a walkthrough of the major ideas that you are being tested on in Exam One. If you can successfully solve the majority of these questions, you are ready for the first exam.

Note that you will not be allowed to use AI coding assistants during the Exam (that includes collaboratory)

## Base Python - Identifying and Working with Data Types

In [7]:
# create variables of the following types - int, string, float, bool
integer = 5
string = 'string'

my_int = 8
my_string ="string"
my_float = "4.875"
my_boolean = True

# print each one out with leading text label e.g. "the string is: stringvariable"

print("the  ",type(my_int), "is", my_int)
print("the  ",type(my_string), "is", my_string)

print("the  ",type(my_float), "is", my_float)

print("the  ",type(my_boolean), "is", my_boolean)

the   <class 'int'> is 8
the   <class 'str'> is string
the   <class 'str'> is 4.875
the   <class 'bool'> is True

In [10]:
#create dictionary

my_dict = {'my_int':4,'my_string':string, 'my_float':4.875, 'my_boolean':True}
print(my_dict)

{'my_int': 4, 'my_string': 'string', 'my_float': 4.875, 'my_boolean': True}

In [ ]:
#loop through the dictionary

In [ ]:
# create a string "this is a string" and convert it to all uppercase. Does this change 'in place' or does it need a new variable assigned to it?

# convert the string above to title case. Hint: using .title() string method

# create an int and a float variable and multiply them. What will the type of the new variable be?

# create an int and a string and multiply them. what will the output look like?

# create a float and a string and multiply them. what will the output be?

## Base Python - Built in Functions and Objects

In [ ]:
# In a new cell, write a range() command and print out the range object

# wrap a list() command around the range() command from the previous step. What is the difference?

In [ ]:
# use the built in function range() to create a list of numbers between 10 and 50 (including 50)

# loop through the created range object and append only the odd numbers to a new list.  hint: dividing the number by 2 gives zero. You can use % or modulus

# how would this look as a lambda function?

# how would this look as a list comprehension?

# assuming I add 2 as a third argument to the range() function above, how many elements will be in the new list of odd numbers?

In [ ]:
# create objects of the following types - list, tuple, dict

In [ ]:
# which of the above objects can I use the zip() function on? Try it below.

# which of the above objects can I use the enumerate() function on? Try it below.

# which of the above objects can I use the sorted() function on? Try it below.

In [ ]:
# loop through the zip() object you created before. What is unique about the zip object? hint: try looping through twice.

# loop through the enumerate() object you created before. What does this function add?

# consider a list of lists as follows. [['Milk', 3.99, 2,'Aisle C4'],['Eggs', 11.99, 1,'Aisle C4'], ['Bread', 3.50, 3, 'Aisle D2']]. How would you use sorted() to sort by qty (integers)

## Base Python - Subsetting Objects

In [ ]:
# create a string "this is a string" and subset it to display only "is a"

# create a list ['A','B','C','D','E'] and subset it to display 1. C to E, 2. Only C 3. Only C and E 4. Always last two items only

# add these items to the earlier list ['G',['H','I']] using two append statements to create ['A','B','C','D','E','G',['H','I']]

# check to make sure your code to dislay the last two items only still works

# call .pop() on the list to see what the output is. Is the original list changed?

# combine .pop() and .insert() to move the 'G' to the beginning of the list i.e. index position 0

## Numpy - Creating n-dimensional arrays

In [ ]:
# create a numpy array of dimensions (1,6) 1. manually 2. filled up of zeroes 3. filled up of the number 8

# convert 1 above to a shape of (3,2), 2 to a shape of (2,3) and 3 to a shape of (6,1). Print out the new arrays each time

In [ ]:
# create a numpy array of dimensions (4,4) using any method above. Call it nd

# use the where() function of numpy to return a (4,4) matrix of booleans (True or False) where the value is greater than the mean of all values

In [ ]:
# we already used the range() built in function to generate a list of numbers between an upper and lower limit, and at intervals
# try doing the same thing using the numpy linspace function. For instance call np.linspace() with the exact same arguments you used before for range()
# what is the difference?


# can you get linspace to give you the same output as the range() function?
# hint: you can use the dtype = int argument to force linspace to give you ints

In [ ]:
# what can you say about the type of data that should be stored in a numpy array? Would you recommend mixed data types?

In [ ]:
# review HW 2

## Pandas - Working on Series and Dataframes

In [ ]:
# what are some differences between a pandas series and a pandas dataframe?

# convert our list of lists on groceries to a pandas dataframe called df - [['Milk', 3.99, 2,'Aisle C4'],['Eggs', 11.99, 1,'Aisle C4'], ['Bread', 3.50, 3, 'Aisle D2']]
# make sure you supply human readable column names - a strength of pandas ['item','cost','qty','aisle']

In [ ]:
# use .describe() to view a summary of the numeric columns in df

# save the dataframe to a csv file called 'groceries.csv'

In [ ]:
# using the dataframe you created above, df for the following questions, each using exactly one line of pandas code

# 1. count the number of items in each aisle

# 2. display the minimum item cost (value only)

# 3. display the item with the minimum cost (item name only)

# 4. display the item with the largest quantity (item name only)

# 5. create a new column called 'total_cost' and calculate it (you dont have to display it in the same line) - ADDS NEW COLUMN

# 6. display the total cost per aisle

# 7. rename 'qty' to 'quantity'. Hint: use the inplace = True argument to avoid reassigning to a new df

# 8. sort the dataframe by item in alphabetical order

# 9. add a new column called 'item_word_length' which should be the number of letters for each item e.g. 4 for Eggs - ADDS NEW COLUMN

# 10. create a new column that calculates the cost_per_letter of each item - ADDS NEW COLUMN

# 11. delete the item_word_length column - REMOVES COLUMN

# 12. display the shape of your data frame. How does it compare with the shape when you first created it?

## Pandas - Merging new Rows

In [ ]:
# Imagine we create a new list with additional groceries as follows called new_order ['Bananas', 0.79, 4, 'Aisle B2']

# What steps do we need to take to merge it with our existing df dataframe?
# Hint: you don't have to calculate the NEW COLUMNS to merge them. Of course it is desirable from a data quality perspective, but not required.

In [ ]:
# What is the function for checking for null values in a pandas dataframe?

# Count the number of null values our newly appended dataframe df

# what is the function for checking if a row is a duplicate in a pandas dataframe?

# in pandas, what is the difference between using assign(), apply(), map(), applymap() and transform()

## Pandas - Understanding Indexes

In [ ]:
# use the command df.set_index('item') to set the item name as the row name in pandas.

# I want to retrieve a certain row in pandas, what is the difference between using label indexing .loc and integer indexing .iloc?

# retrieve the second row ('Eggs') in our df dataframe using both methods

# use the command df = df.reset_index().rename(columns={'index': 'item'}) to return your dataframe to original, with item as a column again and indexes as autoincrementing integers

## Pandas - Merging new Columns i.e. like Excel Vlookup

In [ ]:
# we obtain a dataset of calorie ratings per 100g for different items in the store as follows
# calorific_ratings = [['Milk', 42],['Eggs', 155],['Bread', 265],['Banana', 89],['Muffins', 377],['Cheese', 402]]

# create a new dataframe called df2 that merges calorific ratings in a new column called 'calories_100g'
# Hint: check to see if there are any Null values in df2 and try to figure out why

]

## Pandas - Categorical Variables from Measures

In [ ]:
# In a new dataframe, dm_df, create a dummy variable from the aisle column in df. Let the dummy variables have a prefix of "A".
# Merge dm_df with the original dataframe df

In [ ]:
# For the rest of this lab you will be working with df2
# Create two new columns calorie_level and cost_level (using total cost) where they range from 1 to 3. 3 for highest cost( or calorie) and 1 for lowest.
# I want the groups equally sized not equally spaced. Hint: use pd.qcut() not pd.cut() - review the difference if you are not clear

# Create additional dummy variables (1 means yes, 0 means no) for low_cost_low_calories and high_cost_high_calories only
# Decide on whether to use the calorie_level or cost_level (e.g. high_cost_low_calories is 3 on cost and 1 on calories, etc) or any other cut off you decide e.g. mean/median/mode
# Make sure that the dummy variables are not all zeroes!

In [ ]:
# Review HW 3